.container {
    display: flex;
    flex-wrap: wrap;
}

.fibonacci-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    width: 50px;
}




.container2 {
    display: flex;
    flex-wrap: wrap;

}

.fibonacci-item2 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    width: 50px;
}